/********************ELEMENTS********************/
.generalComponent{
    display: flex;
    border: solid 1px yellow;
    background-color:rgb(40, 40, 43);
    align-items: center;
    justify-content: space-around;
}

.langagesElement{
    flex-grow: unset;
    border: solid 1px blue;
}

.searchElement{
    
    border: solid 1px red;
}

/*******************GENERAL CSS*******************/
#titleBehavior{
    color: wheat;
}
#titleBehavior:hover{
    color: coral;
}

.centerIt{
    justify-self: center;
}
.paddingItem{
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;

}
